/* Cabecera de la aplicación */
.cabecera {
  border-bottom: .2rem solid var(--negro);
  padding: .1rem auto;
}
.titulo {
  text-align: center;
  text-shadow: -.5rem 0 0px var(--negro);
}

/* Pagina principal */
.intro_nombre {
  width: 30rem;
  text-align: center;
  margin: 1rem auto;

  font-size: 2rem;
}
/* Generales */
.fntMath {
  font-family: var(--fuenteOperaciones);
}

/* JUGADOR */
.jugador {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 2rem;
  margin: 1rem auto 2rem auto;
}
@media (min-width: 600px) {
  .jugador {
    font-size: 2.8rem;
  }
}
.nivel_jugador {
  margin: 0;
  padding: 0;
  font-family: var(--fuenteGeneral);
}
.nivel_siguiente {
  margin: 0;
  padding: 0;
  font-family: var(--fuenteGeneral);
  font-size: 1.2rem;
}
.nombre_jugador {
  padding: 0;
  margin: 0;
  font-family: var(--fuenteTitulos);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nombre_jugador::after {
  content:"";
  background-image: url(../img/pluma.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transform: rotateY(180deg);
  display: block;
  height: 3rem; 
  width: 3rem;
}
.nombre_jugador::before {
  content:"";
  background-image: url(../img/pluma.avif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  right: .5rem;
  display: block;
  height: 3rem; 
  width: 3rem;
}
@media (min-width: 600px) {
  .nombre_jugador::before {
    right: 1rem;
  }
}
.racha_jugador {
  padding: 0;
  margin: 0;
  font-family: var(--fuenteTitulos);
  font-size: 1.2rem;
  text-align: center;
}
.exp_jugador {
  padding: 0;
  margin: 0;
  font-family: var(--fuenteGeneral);
  text-align: right;
}
.exp_obtenida {
  padding: 0;
  margin: 0;
  font-family: var(--fuenteGeneral);
  font-size: 1.2rem;
  text-align: right;
}
/* PERSONAJES */
.personajes {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .personajes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.descripcion_personaje {
  margin: 1.5rem;
  text-shadow: .1rem  .1rem 0 white,
              -.1rem  .1rem 0 white,
              -.1rem -.1rem 0 white,
               .1rem -.1rem 0 white;
  position: relative;
}

@media (min-width: 600px) {
  .descripcion_personaje {
    width: 40%;
  }
}

.deshabilitar::before {
  position: absolute;
  content:"";
  inset: 0;
  background-color: rgba(255,255,255,0.7);
}

.desbloquear {
  position: relative;
  color: red;
}

.advertencia {
  color: red;
  font-weight: 700;
}

/* imagenes de fondo */
.bg_applejack {
  background-image: linear-gradient(to bottom, 
                    rgba(255,255,255,0.7) 70%,
                    var(--blanco) 100%),
                    url(../img/applejack.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 60%;
  background-origin: padding-box;
}
.bg_fluttershy {
  background-image: linear-gradient(to bottom, 
                    rgba(255,255,255,0.7) 70%,
                    var(--blanco) 100%),
                    url(../img/fluttershy.webp);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 60%;
  background-origin: padding-box;
}
.bg_rainbow {
  background-image: linear-gradient(to bottom, 
                    rgba(255,255,255,0.7) 70%,
                    var(--blanco) 100%),
                    url(../img/rainbow.webp);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 60%;
  background-origin: padding-box;
}
.bg_pinkie {
  background-image: linear-gradient(to bottom, 
                    rgba(255,255,255,0.7) 70%,
                    var(--blanco) 100%),
                    url(../img/pinkie.webp);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 70%;
  background-origin: padding-box;
}
.bg_twilight {
  background-image: linear-gradient(to bottom, 
                    rgba(255,255,255,0.7) 70%,
                    var(--blanco) 100%),
                    url(../img/twilight.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 60%;
  background-origin: padding-box;
}

/* ZONA DE OPERACIONES */
.zona-operaciones {
  width: 100%;
}
@media (min-width: 600px) {
  .zona-operaciones {
    width: 50%;
    margin: 0 auto;
  }
}

.texto_operacion {
  font-family: var(--fuenteOperaciones);
  font-size: 3rem;
  margin: 3rem auto 1rem auto;
  text-align: center;
  border-top: 0;
  border-right: 0;
  border-bottom: .3rem;
  border-left: 0; 
  border-style: solid;
  border-color: var(--negro);
  width: fit-content;
}

.intro_resultado {
  margin: 0 0 1rem 0;
  width: 15rem;
  font-family: var(--fuenteOperaciones);
  font-size: 3rem;
  text-align: right;
}

.btn-comprobacion {
  margin: 0 0 1rem 0;
  padding: 0.7rem;
  border-radius: 1rem;
}

.texto_comentario {
  padding: 1rem 0;
  margin: 0 auto;
  text-align: center;
  font-family: var(--fuenteTitulos);
  font-size: 2rem;
}

/* VENTANA EMERGENTE */
.popup_message {
  background: rgba(80, 80, 80, .30);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
}

.notificacion {
  width: 90%;
  max-width: 400px;
  background-color: var(--blanco);
  padding: 2rem;
}

.imagen_pony {
  width: 80%;
  margin: 1rem auto;
}