/* Custom properties */
:root {
  /*Fuentes de letra*/
  --fuenteTitulos : 'Merienda', cursive;
  --fuenteOperaciones : 'Noto Sans Mono', monospace;
  --fuenteGeneral: 'Dosis', sans-serif;
  /*Paleta de colores*/
  --colorApplejack: #fd9431; /* Le gusta sumar con su ayuda */
  --colorApplejack2: #ffe676; /* Le gusta sumar con su ayuda */
  --colorFluttershy: #ffe65c; /*Le gusta restar para quitar hierro al asunto */
  --colorFluttershy2: #ffa3f0; /*Le gusta restar para quitar hierro al asunto */
  --colorRainbow: #79ceff; /*Le encanta multiplicar para ser más rápida*/
  --colorRainbow2: #fc6450; /*Le encanta multiplicar para ser más rápida*/
  --colorPinky: #ffa2ff; /*Le encanta dividir para repartir su alegria*/
  --colorPinky2: #fd00fd; /*Le encanta dividir para repartir su alegria*/
  --colorTwilight: #e49efa; /*Le encanta hacer de todo ayudando a sus amigas*/
  --colorTwilight2: #5e91ff; /*Le encanta hacer de todo ayudando a sus amigas*/
  --colorFallo: #e73232; /*No quieres verlo*/
  --blanco: #ffffff;
  --negro: #1f1e1e;
  --grisClaro: #e1e1e1;
  --gris: #aaaaaa;
  /* Espaciados */
  --separacion: 2rem;
}

/* Imprescindibles */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuenteGeneral);
  font-size: 1.5rem;
  line-height: 1.5;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Globales */
h1, h2, h3, h4 {
  font-weight: 900;
  font-family: var(--fuenteTitulos);
  margin: 1rem 0 0 0 ;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
.btn {
  display: block;
  border: .1rem solid var(--negro);
  border-radius: 1rem;
  padding: .5rem 2rem;
  width: 30rem;
  max-width: 90%;
  margin: .5rem auto; 
  transition-property: background-color;
  transition-duration: 0.4s;
}
.btn-applejack:hover {
  background-color: var(--colorApplejack);
}
.btn-fluttershy:hover {
  background-color: var(--colorFluttershy);
}
.btn-rainbow:hover {
  background-color: var(--colorRainbow);
}
.btn-pinkie:hover {
  background-color: var(--colorPinky);
}
.btn-twilight:hover {
  background-color: var(--colorTwilight);
}
/* ORGANIZADORES */
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.margen-inferior {
  margin: 0 0 1rem 0;
}
.margen-vertical {
  margin: 3rem auto;
}
.ancho-contenido {
  width: fit-content;
}
.centrado-por-margen {
  margin: 0 auto;
}
/* ALINEACION DE TEXTO */
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
/* TAMAÑOS DE TEXTOS */
.big-text {
  font-size: 3rem;
  margin: 1rem 0;
}
.mid-text {
  font-size: 2.4rem;
}
/* INTERLINEADO */
.operation-text {
  font-size: 3rem;
}
/* BORDES */
.borde_gris {
  border: .3rem solid var(--gris);
  border-radius: 1rem;  
}
.borde_negro {
  border: .3rem solid var(--negro);
  border-radius: 1rem;  
}
.borde_applejack {
  border: .3rem solid var(--colorApplejack);
  border-radius: 1rem;  
}
.borde_fluttershy {
  border: .3rem solid var(--colorFluttershy);
  border-radius: 1rem;  
}
.borde_rainbow {
  border: .3rem solid var(--colorRainbow);
  border-radius: 1rem;  
}
.borde_pinkie {
  border: .3rem solid var(--colorPinky);
  border-radius: 1rem;  
}
.borde_twilight {
  border: .3rem solid var(--colorTwilight);
  border-radius: 1rem;  
}
.borde_operacion {
  border-top: 0;
  border-right: 0;
  border-bottom: .3rem;
  border-left: 0; 
  border-style: ridge;
  border-color: var(--negro);
}
/* Colores */
.color-applejack {
  color: var(--colorApplejack);
}
.color-fluttershy {
  color: var(--colorFluttershy);
}
.color-rainbow {
  color: var(--colorRainbow);
}
.color-pinkie {
  color: var(--colorPinky);
}
.color-twilight {
  color: var(--colorTwilight);
}
/* Degradados */
.sombra_ponis {
  color: transparent;
  background: linear-gradient(to right, 
              var(--colorApplejack) 20%, 
              var(--colorFluttershy) 40%,
              var(--colorRainbow) 60%,
              var(--colorPinky) 80%
              );
  -webkit-background-clip: text;
  background-clip: text;
}
.sombra_applejack {
  color: transparent;
  background: linear-gradient(to right, 
              var(--colorApplejack2) 20%, 
              var(--colorApplejack) 40%, 
              var(--colorApplejack) 60%, 
              var(--colorApplejack2) 80%
              );
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: -.2rem 0 0 black; 
}
.sombra_fluttershy {
  color: transparent;
  background: linear-gradient(to right, 
              var(--colorFluttershy2) 20%, 
              var(--colorFluttershy) 40%, 
              var(--colorFluttershy) 60%, 
              var(--colorFluttershy2) 80%
              );
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: -.2rem 0 0 black;
}
.sombra_rainbow {
  color: transparent;
  background: linear-gradient(to right, 
              var(--colorRainbow2) 20%, 
              var(--colorRainbow) 40%, 
              var(--colorRainbow) 60%, 
              var(--colorRainbow2) 80% 
              );
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: -.2rem 0 0 black;
}
.sombra_pinkie {
  color: transparent;
  background: linear-gradient(to right, 
              var(--colorPinky2) 20%, 
              var(--colorPinky) 40%, 
              var(--colorPinky) 60%, 
              var(--colorPinky2) 80% 
              );
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: -.2rem 0 0 black;
}
.sombra_twilight {
  color: transparent;
  background: linear-gradient(to right, 
              var(--colorTwilight2) 20%, 
              var(--colorTwilight) 40%, 
              var(--colorTwilight) 60%, 
              var(--colorTwilight2) 80% 
              );
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: -.2rem 0 0 black;
}
.sombra_fallo {
  color: transparent;
  background-color: var(--colorFallo);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: -.2rem 0 0 black;
}

